<div class="banner" style="background-image: url('https://th.bing.com/th/id/OIG2.1wJGfYgOzCc_kzu0e6Tb?pid=ImgGn);">
  <div class="text-center">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>My lists</h1>
    <%= link_to "Create a list of movies", new_list_path, class: "btn btn-primary" %>
  </div>
  <hr class="my-5">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
        <%= link_to list_path(list) do %>
          <% if list.photo.attached? %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
              <%= list.name %>
            </div>
          <% else  %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://play-lh.googleusercontent.com/kX5EOqCjlO0kHfQxelaTEgRlCpIXSEjop0M-VDDTsTqSm5VZvEEJ0gEXNeLqDid_2g=w240-h480-rw');">
              <%= list.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
